@font-face {    /* Czcionka */
    font-family: Exo2;
    src: url(../font/Exo2.ttf);
}
:root {    /* Zmienne */
    --clr-purple: #8138d6;
    --clr-cyan: #00E5FF;
    --clr-dark-purple: #3d0b76;
    --gap: 4px;
}

*, *::before, *::after {    /* Reset stylu na wszystkie elementy */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body, input, textarea {    
    font-family: Exo2, sans-serif;
}
/* Styl poszczególnych elementów */
img {
    width: 100%;
    display: block;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    display: block;
}
h2 {
    font-size: 1.6rem;
}
label {
    display: block;
}

/* Użyteczne klasy */
.kreska {    /* Dekoracja dla nagłówków */
    position: relative;
}
.kreska::before {
    content: "";
    position: absolute;
    background-color: var(--clr-purple);
    width: 4px;
    border-radius: 50px;
    height: 100%;
    left: -25px;
    top: 58%;
    translate: 0 -50%;
}
.wrapper {    /* Wrapper dla elementów */
    --max-width: 1400px;
    --padding-inline: 40px;
    max-width: 1300px;
    padding-inline: var(--padding-inline);
    margin-inline: auto;
}
.d-sections {    /* Wyznacznik sekcji z dwoma kolumnami */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;

    > * {
        align-content: center;
    }
}
.active {    /* Aktywator animacji przy scrollowaniu */
    animation: wjazdPrawo1 1s both;
}

/* Styl (W kolejności elementów struktury HTML) */
#container {
    overflow-x: clip;
}
nav {
    display: flex;

    position: sticky;
    top: 0;
    z-index: 1000;
    
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 100dvw;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        z-index: -1;
    }
}
#logo a {
    width: 120px;
    padding: 5px;
    animation: fadeIn 1s;
}
nav ul {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-inline: auto;
    li {
        padding-inline: 25px;
        position: relative;
        animation: wjazdDół 1.5s both;
    }
    li:not(:last-child)::after {
        content: "";
        position: absolute;
        background-color: var(--clr-purple); 
        width: 2px;
        height: 50%;
        left: 100%;
        top: 50%;
        translate: 0 -50%;
        border-radius: 75px;
    }
    a {
        font-size: 1.15em;
        color: black;
        position: relative;
    }
    li:last-child a {
        color: var(--clr-purple);
    }
    a::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50% 0;
        background-image: linear-gradient(90deg, var(--clr-purple), var(--clr-dark-purple));
        width: 0%;
        height: 1px;
        transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        border-radius: 50px;
    }
    a:hover::before {
        width: 100%;
    }
}
#hdr{
    padding-block: 50px;
    position: relative;
    height: 90vh;
    align-content: center;
}
#hdr-content{
    background-color: white;
    width: fit-content;
    margin-inline: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 70px;
    border-radius: 10px;
}
#hdr::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    background-image: url(../obrazki/back1.jpg);
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    filter: brightness(105%);
}
#hdr h1 {
    text-align: center;
    color: var(--clr-purple);
    margin-bottom: 10px;
    font-size: 3rem;
    animation: wjazdLewo2 1.9s both;
}
#hdr p {
    text-align: center;
    margin-inline: auto;
    max-width: 700px;
    margin-bottom: 40px;
    font-size: 1.25em;
    line-height: 1.7rem;
    animation: wjazdLewo2 2s both;
}
#hdr form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 800px;
    margin-inline: auto;
    
    input[type="text"], textarea{
        font-size: 1rem;
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        border: 0;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);

        &:focus {
            outline: 0;
        }
    }
    textarea {
        resize: none;
        min-height: 100px;
        display: block;
    }
}

#hdr form > div{
    background-color: transparent;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 5px rgba(102, 51, 153, 0.4);
    
    h2{
        margin-bottom: 20px;
        color: black;
    }
    input[type="submit"]{
        font-size: 1rem;
        font-weight: bold;
        width: 100%;
        padding: 8px;
        border-radius: 8px;
        border: 0;
        color: white;
        background-color: var(--clr-purple);
        transition: 0.2s;

        &:hover {
            cursor: pointer;
            background-color: var(--clr-dark-purple);
        }
    }
    label {
        margin-bottom: 4px;
    }
}
#hdr form > div:first-child {
    animation: wjazdPrawo1 1.3s both;
}
#hdr form > div:last-child {
    animation: wjazdPrawo1 1.5s both;
}
#wtyczka-info {
    padding: 35px;
}
#wtyczka-info > div:not(:first-child) { 
    display: none;
}
.info-btns > .btn {
    background-color: transparent;
    border-color: white;
    width: fit-content;

    &:hover {
        background-color: var(--clr-purple);
        border-color: var(--clr-purple);
    }
}
#info-progress-bars {
    display: flex;
    gap: 8px;
    padding: 10px;
}
.progress-bar {
    background-color: white;
    border-radius: 1000px;
    height: 8px;
    cursor: pointer;
    flex: 1;
    overflow: clip;
}
#progress {
    background-color: rgb(190, 190, 190);
    height: 100%;
    width: 0;
    /* transition: .5s ease-in-out; */
}

#about-wtyczka {
    margin-block: 100px;
    scroll-margin-top: 30dvh;
    h2 {
        color: var(--clr-purple);
        margin-bottom: 20px;
        opacity: 0;
    }
    p {
        font-size: 1.25em;
        line-height: 1.7rem;
        opacity: 0;
    }
}
#about-img {
    height: 100%;
}
#about-img img {
    border-radius: 20px;
    border-top: 3px solid var(--clr-purple);
}

#zespol-naglowek {
    justify-items: center;
    align-content: center;
    height: 400px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background-image: url(../obrazki/back3.png);
    background-size: cover;
    background-position: 50% 65%;
    background-repeat: no-repeat;
    scroll-margin-top: 30dvh;
    h2 {
        position: absolute; 
        top: 50%; left: 50%; 
        translate: -50% -50%; 
        color: white; 
        font-size: 3rem;
    }
}
#zespol-naglowek::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(45deg, var(--clr-dark-purple), var(--clr-purple), var(--clr-dark-purple));
    opacity: 0.7;
}
#kartki-container {
    display: flex;
    width: fit-content;
    margin: auto;
    gap: 30px;
}
.kartka {
    padding: 20px;
    border-left: 2px var(--clr-purple) solid;
    border-radius: 10px;
    flex: 1;
    width: 15vw;
    max-width: 320px;
    height: 390px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.3s;
    background-color: white;
    z-index: 2;
    animation: kartki both cubic-bezier(.72,.4,.64,.97);
    h3 {
        font-size: 1.8rem;
        margin-bottom: 7px;
    }
    p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
.kartka:hover {
    border-left: 2px var(--clr-cyan) solid;
}

#galeria {
    margin-block: 100px;
    margin-top: 20px;

    h2 {
        color: var(--clr-purple);
        margin-bottom: 20px;
    }
    p {
        font-size: 1.25rem;
        line-height: 1.7rem;
    }
}
#galeria-content {
    display: flex;
    justify-content: center;
    gap: var(--gap);
}
#przewinLewo,
#przewinPrawo {
    align-content: center;
    font-size: 2rem;
    background-image: linear-gradient(var(--clr-purple), var(--clr-dark-purple));
    color: white;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    border-radius: 5px;
    margin-block: auto;
    padding-block: 35px;
}
#przewinLewo:hover,
#przewinPrawo:hover {
    font-size: 2.5rem;
    padding-block: 40px;
}
#obrazki {
    position: relative;
    width: calc(600px + var(--gap));
    height: 800px;
    overflow: clip;
    border-radius: 10px;
    background-color: #8138d6;
}
#trzymak {
    display: flex;
    gap: var(--gap);

    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;
    transition: .4s ease-in-out;
}
#trzymak > div {
    display: grid;
    grid-template: repeat(2, 250px) / repeat(2, 250px);
    gap: var(--gap);
    width: calc(600px + var(--gap));
    height: 800px;
    background-color: red;
    
    > .obrazek {
        position: relative;
        overflow: clip;
        border-radius: 10px;
        img {
            text-align: center;
            align-content: center;
            background-color: cadetblue;
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            pointer-events: none;
            user-select: none;
            height: 100%;
            width: auto;
        }
    }
}

#ftr {
    position: relative;
}
#ftr::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100dvw;
    height: 100%;
    background-color: var(--clr-dark-purple);
    /* box-shadow: inset 0 0 20px 5px var(--clr-purple); */
    z-index: -1;
}
#ftr-upper {
    /* border-bottom: var(--clr-purple) 1px solid; */
    position: relative;
    padding-block: 40px;
    color: white;

    h3 {
        text-align: center;
        margin-bottom: 20px;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        translate: -50% 0;
        width: 100%;
        height: 2px;
        background-image: linear-gradient(90deg, transparent, var(--clr-purple), transparent);
        z-index: -1;
    }
}
#ftr-upper i {
    font-size: 2rem;
    transition: .2s;

    &:hover {
        cursor: pointer;
        scale: 1.5;
    }
}
#ftr-upper h2 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    text-align: center;
}
#ftr-upper a {
    /* position: relative; */
    font-size: 0.9em;
    padding: 10px 0 5px 0;
    color: white;
    transition: 0.2s;

    &:hover {
        color: var(--clr-cyan);
        filter: drop-shadow(0 5px 5px var(--clr-cyan));
    }
}
#ftr-holder {
    margin-inline: auto;
}
#ftr-lower {
    color: white;
    padding-block: 25px;
    text-align: center;
}
#socials {
    display: flex;
    justify-content: center;
    gap: 16px;
}