@keyframes animacja1{
    0%{
        opacity: 0;
        translate: 0 -100%;
    }
    50%{
        opacity: 1;
        translate: 0 15%;
    }
    100%{
        opacity: 1;
        translate: 0 0;
    }
}
@keyframes animacja2{
    0%{
        opacity: 0;
        translate: 100% 0;
    }
    50%{
        opacity: 1;
        translate: -5% 0%;
    }
    100%{
        opacity: 1;
        translate: 0 0;
    }
}
@keyframes animacja3{
    0%{
        opacity: 0;
        translate: 0 100%;
    }
    75%{
        opacity: 1;
        translate: 0 -10%;
    }
    100%{
        opacity: 1;
        translate: 0 0;
    }
}
@keyframes animacja4{
    0%{
        opacity: 0;
        translate: 0 -500%;
    }
    100%{
        opacity: 1;
        translate: 0 0;
    }
}
@keyframes logoanimacja{
    0%{
        opacity: 0;
        translate: 0 0;
    }
    100%{
        opacity: 1;
        translate: 0 0;
    }
}
@keyframes section2{
    0%{
        opacity: 0;
        translate: 100% 0;
    }
    10%{
        opacity: 0;
        translate: 100% 0;
    }
    100%{
        opacity: 1;
        translate: 0 0;
    }
}
@keyframes animacja7 {
    0% {
      opacity: 0;
      translate: -150% 0;
    }
    20%{
        opacity: 0;
        translate: -100% 0;
    }
    85% {
      opacity: 1;
      translate: 2% 1%;
    }
    100%{
        opacity: 1;
        translate: 0 0;
    }
}
@keyframes animacja8{
    0%{
        border-color: var(--clr-cyan);
    }
    40%{
        border-color: var(--clr-dark-purple);
    }
    90%{
        border-color: var(--clr-purple);
    }
    100%{
        border-color: var(--clr-cyan);
    }
}
@keyframes animacja9{
    0%{
        background-color: var(--clr-cyan);
    }
    40%{
        background-color: var(--clr-dark-purple);
    }
    90%{
        background-color: var(--clr-purple);
    }
    100%{
        background-color: var(--clr-cyan);
    }
}
@keyframes section2guzik {
    0%{
        opacity: 0;
        translate: 100% 0;
    }
    100%{
        opacity: 1;
        translate: 0 0;
    }
}
@keyframes section2p{
    0%{
        translate: 150% 0;
    }
    100%{
        translate: 0 0;
    }
}
@keyframes kartki{
    0%{
        translate: 0 50%
    }
    100%{
        translate: 0 -20%;
    }
}
@keyframes test{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}