@keyframes wjazdLewo1{
    0%{
        opacity: 0;
        translate: 100% 0;
    }
    50%{
        opacity: 1;
        translate: -5% 0%;
    }
    100%{
        opacity: 1;
        translate: 0 0;
    }
}
/* @keyframes wjazdJakiś{
    0%{
        opacity: 0;
        translate: 0 -100%;
    }
    50%{
        opacity: 1;
        translate: 0 15%;
    }
    100%{
        opacity: 1;
        translate: 0 0;
    }
} */
@keyframes wjazdGóra{
    0%{
        opacity: 0;
        translate: 0 100%;
    }
    75%{
        opacity: 1;
        translate: 0 -10%;
    }
    100%{
        opacity: 1;
        translate: 0 0;
    }
}
@keyframes wjazdDół{
    0%{
        opacity: 0;
        translate: 0 -500%;
    }
    100%{
        opacity: 1;
        translate: 0 0;
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes wjazdLewo2{
    0%{
        opacity: 0;
        translate: 100% 0;
    }
    50%{
        opacity: 1;
        translate: -2% 0%;
    }
    100%{
        opacity: 1;
        translate: 0 0;
    }
}
@keyframes wjazdPrawo1{
    0%{
        opacity: 0;
        translate: -100% 0;
    }
    50%{
        opacity: 1;
        translate: 5% 0%;
    }
    100%{
        opacity: 1;
        translate: 0 0;
    }
}
/* @keyframes animacja7 {
    0% {
      opacity: 0;
      translate: -150% 0;
    }
    20%{
        opacity: 0;
        translate: -100% 0;
    }
    85% {
      opacity: 1;
      translate: 2% 1%;
    }
    100%{
        opacity: 1;
        translate: 0 0;
    }
} */
/* @keyframes animacja9{
    0%{
        background-color: var(--clr-cyan);
    }
    40%{
        background-color: var(--clr-dark-purple);
    }
    90%{
        background-color: var(--clr-purple);
    }
    100%{
        background-color: var(--clr-cyan);
    }
} */
@keyframes kartki{
    0%{
        translate: 0 50%
    }
    100%{
        translate: 0 -20%;
    }
}