@font-face {
    font-family: Exo2;
    src: url(../font/Exo2.ttf);
}
:root{
    --clr-purple: #8138d6;
    --clr-cyan: #00E5FF;
    --clr-dark-purple: #3d0b76;
    --gap: 4px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: Exo2, sans-serif;
}
img{
    height: 100%;
    display: block;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: block;
}
h2{
    font-size: 2.5rem;
}
.kreska{
    position: relative;
}
.kreska::before{
    content: "";
    position: absolute;
    background-color: var(--clr-purple);
    width: 4px;
    border-radius: 50px;
    height: 100%;
    left: -25px;
    top: 58%;
    translate: 0 -50%;
}
nav{
    display: flex;
    justify-content: center;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}
#logo a{
    height: 120px;
    padding: 5px;
    animation: logoanimacja 1s;
}
nav ul{
    display: flex;
    align-items: center;
    margin-left: 150px;
    li{
        padding-inline: 25px;
        position: relative;
        animation: animacja4 1.5s both;
    }
    li:not(:last-child)::after{
        content: "";
        position: absolute;
        background-color: var(--clr-cyan); 
        width: 2px;
        height: 50%;
        left: 100%;
        top: 50%;
        translate: 0 -50%;
        border-radius: 75px;
        animation: animacja9 6s infinite;
    }
    a{
        font-size: 1.15em;
        color: black;
        position: relative;
    }
    #red{
        color: var(--clr-dark-purple);
    }
    a::before{
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50% 0;
        background-image: linear-gradient(90deg, var(--clr-purple), var(--clr-dark-purple));
        width: 0%;
        height: 1px;
        transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        border-radius: 50px;
    }
    a:hover::before{
        width: 100%;
    }
}
header{
    height: 100vh;
    justify-items: center;
    align-content: center;
    position: relative;
}
header::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    background-image: url(../obrazki/back1.jpg);
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    filter: brightness(105%);
}
header::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(transparent, white);
    z-index: -1;
}
#headergrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: 1400px;
}
#sekcja1{
    align-content: center;
    h1{
        color: var(--clr-purple);
        font-size: 3.5rem;
        position: relative;
        margin-bottom: 20px;
        animation: animacja2 2s;
    }
    p{
        font-size: 2rem;
        margin-bottom: 30px;
        animation: animacja1 1s;
    }
}
.buttons{
    display: flex;
    gap: 20px;
}
.guzik{
    background-color: var(--clr-purple);
    border: 1px var(--clr-purple) solid;
    border-radius: 13px;
    transition: 0.3s;
    a{
        color: white;
        padding: 1.2rem 1.4rem;
    }
}
.guzik:hover{
    transform: scale(1.1);
}
#transparent{
    background-color: transparent;
    opacity: 0;
    animation: animacja3 2s forwards;
    animation-delay: 0.25s;
    a{
        color: var(--clr-purple);
        transition: 0.3s;
    }
}
#nontransparent{
    animation: animacja3 2s;
}
#nontransparent:hover{
    box-shadow: 0px 10px 20px var(--clr-purple);
}
.guzik:hover{
    background-color: var(--clr-dark-purple);
    border: 1px var(--clr-dark-purple) solid;
}
#transparent:hover{
    background-color: var(--clr-dark-purple);
    border: 1px var(--clr-dark-purple) solid;
    box-shadow: 0px 10px 20px var(--clr-purple);    
    a{
        color: white;
    }
}
#sekcja2{
    background-color: rgba(61, 11, 118, 0.9);
    color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    animation: section2 1.5s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: clip;
    h2{
        position: relative;
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 30px;
        line-height: 1.4rem;
        font-size: 1.25rem;
        animation: section2p 1.5s cubic-bezier(0.23, 1, 0.320, 1);
    }
    .guzik{
        animation: section2guzik 1.5s cubic-bezier(0.19, 1, 0.22, 1);
        animation-delay: 1.5s both;
    }
}
#slajdy{
    padding: 35px;
}
#slajdy>div:not(:first-child){ 
    display: none;
}
#guzior{
    background-color: transparent;
    border-color: white;
}
#guzior:hover{
    background-color: var(--clr-purple);
    border-color: var(--clr-purple);
}
#bottom-buttons{
    display: flex;
    gap: 7px;
    padding: 10px;
}
.bottom-button{
    background-color: white;
    border-radius: 1000px;
    height: 5px;
    cursor: pointer;
    flex: 1;
    overflow: clip;
}
#o-nas{
    justify-items: center;
    align-content: center;
}
#aboutgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    width: 1400px;
    margin-bottom: 100px;
    align-items: center;
    h2{
        margin-bottom: 20px;
    }
    p{
        font-size: 1.25em;
        line-height: 1.7rem;
    }
}
#obrazekaboutgrid img{
    border-radius: 20px;
    border-top: 3px solid var(--clr-purple);
}
#aboutgrid h2, #aboutgrid p{
    opacity: 0;
}
#aboutgrid h2.active{
    animation: animacja7 2s forwards;
}
  
  #aboutgrid p.active{
    animation: animacja7 2s forwards;
}
#obrazekteam{
    justify-items: center;
    align-content: center;
    height: 400px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background-image: url(../obrazki/back3.png);
    background-size: cover;
    background-position: 50% 65%;
    background-repeat: no-repeat;
    h2{
        color: black;
        animation: animacja4 1s;
    }
}
#obrazekteam::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(45deg, var(--clr-dark-purple), var(--clr-purple), var(--clr-dark-purple));
    opacity: 0.6;
}
.kartka{
    padding: 20px;
    border-left: 2px var(--clr-cyan) solid;
    border-radius: 10px;
    flex: 1;
    width: 320px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.3s;
    background-color: white;
    z-index: 2;
    animation: kartki both cubic-bezier(.72,.4,.64,.97);
    h3{
        font-size: 1.6rem;
        margin-bottom: 7px;
    }
    p{
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}
.kartka:hover{
    border-left: 2px var(--clr-dark-purple) solid;
}
#teamdreamdiv{
    display: flex;
    width: fit-content;
    margin: auto;
    gap: 70px;
}
#woman1{
    animation-timeline: view(90% 10%);
}
#woman2{
    animation-timeline: view(85% 10%);
}
#woman3{
    animation-timeline: view(80% 10%);
}
#woman4{
    animation-timeline: view(75% 10%);
}
#woman5{
    animation-timeline: view(70% 10%);
}
#gridgaleria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1400px;
    margin: auto;
    p{
        font-size: 1.25rem;
    }
}
#gridgaleriadiv{
    align-content: center;
}
#kreskagaleria{
    position: relative;
    margin-bottom: 20px;
    color: var(--clr-purple);
}
#galeria{
    padding-top: 50px;
    /* background-image: url(../obrazki/back4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -500px; */
    height: 60vh;
    position: relative;
    /* background-blend-mode: multiply;
    background-color: var(--clr-purple);  */
}
footer{
    background-color: var(--clr-dark-purple);
    padding: 50px;
}
#upperfooter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 1400px;
    margin: auto;
    border-bottom: var(--clr-purple) 1px solid;
    padding: 40px;
    color: white;
    justify-items: center;
    border-radius: 4px;
    ul{
        justify-items: center;
    }
    a{
        font-size: 0.92em;
        padding: 10px 0 5px 0;
        color: white;
        transition: 0.2s;
        position: relative;
    }
    a:hover{
        color: var(--clr-cyan);
        filter: drop-shadow(0 5px 5px var(--clr-cyan));
    }
    h2{
        font-size: 1.6rem;
        margin-bottom: 15px;
    }
}
#logofooter{
    height: 150px;
}
#bottomfooter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    width: 1400px;
    padding-top: 30px;
    color: white;
    justify-items: center;
}
.ulstopka li{
    display: flex;
    gap: 7px;
    align-items: center;
    padding-block: 10px;
    border-bottom: 2px solid var(--clr-purple);
    border-radius: 5px;
    width: 100%;
    justify-content: center;
}
.ulstopka i{
    font-size: 1.2rem;
}

#pasek {
    background-color: rgb(190, 190, 190);
    height: 100%;
    width: 0;
}







img {
    display: block;
    height: 100%;
    width: 100%;
}

#galery {
    display: flex;
    justify-content: center;
    gap: var(--gap);
}
#przewinLewo,
#przewinPrawo {
    align-content: center;
    font-size: 2rem;
    background-image: linear-gradient(var(--clr-purple), var(--clr-dark-purple));
    color: white;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    border-radius: 5px;
    margin-block: auto;
    padding-block: 35px;
}
#przewinLewo:hover,
#przewinPrawo:hover{
    font-size: 2.5rem;
    padding-block: 40px;
}
#obrazki {
    position: relative;
    width: calc(500px + var(--gap));
    aspect-ratio: 1 / 1;
    overflow: clip;
}
#trzymak {
    display: flex;
    gap: var(--gap);

    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;
    transition: .4s ease-in-out;
}
#trzymak > div {
    display: grid;
    grid-template: repeat(2, 250px) / repeat(2, 250px);
    gap: var(--gap);
    
    > div  {
        position: relative;
        
        img {
            text-align: center;
            align-content: center;
            background-color: cadetblue;
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            overflow: clip;
            pointer-events: none;
            border-radius: 10px;
        }
    }
}